.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-image {
  width: 150px;
}
.user-name {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #12022f;
}
.user-description {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #616e7c;
}
